#context-variables-ajax-wrapper tr td {
  vertical-align: top;
}

#context-variables-ajax-wrapper tr.odd .form-item,
#context-variables-ajax-wrapper tr.even .form-item {
  white-space: normal;
}

#context-variables-ajax-wrapper tr.module td {
  font-weight: bold;
  padding-top: 20px;
}

#context-variables-ajax-wrapper tr.variable td.settings {
  padding-left: 20px;
}
